<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>ManualSpnegoNegotiateServlet</servlet-name>
		<servlet-class>com.example.ManualSpnegoNegotiateServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManualSpnegoNegotiateServlet</servlet-name>
		<url-pattern>/spnego/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SpnegoFilteredHelloServlet</servlet-name>
		<servlet-class>com.example.HelloSpnegoServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpnegoFilteredHelloServlet</servlet-name>
		<url-pattern>/filtered/spnego/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SpnegoHttpFilter</filter-name>
		<filter-class>net.sourceforge.spnego.SpnegoHttpFilter</filter-class>

		<init-param>
			<param-name>spnego.allow.basic</param-name>
			<param-value>false</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.allow.localhost</param-name>
			<param-value>false</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.allow.unsecure.basic</param-name>
			<param-value>false</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.login.client.module</param-name>
			<param-value>spnego-client</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.krb5.conf</param-name>
			<param-value>/etc/krb5.conf</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.login.conf</param-name>
			<param-value>src/main/conf/spnego.conf</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.preauth.username</param-name>
			<param-value>Zeus</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.preauth.password</param-name>
			<param-value>Z3usP@55</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.login.server.module</param-name>
			<param-value>spnego-server</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.prompt.ntlm</param-name>
			<param-value>false</param-value>
		</init-param>

		<init-param>
			<param-name>spnego.logger.level</param-name>
			<param-value>1</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>SpnegoHttpFilter</filter-name>
		<url-pattern>/filtered/*</url-pattern>
	</filter-mapping>

</web-app>
